* {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background: rgb(41, 84, 177);
    margin: 0;
}

h1 {
    text-align: center;
}

.container {
    width: 80%;
    margin: 3% auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.weather-widget, .traffic-widget {
    margin: 0 1% 10% 1%;
    width: 400px;
    height: 100%;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.3);
}

.weather-widget {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.weather, .traffic {
    height: 250px;
    border: 1px dotted black;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
}

#current-weather {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#current-weather div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
}

#current-weather form {
    padding-top: 20px;
}


#hourly-weather {
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: center;
    height: 400px;
    margin: 0 10px;
}

.hour-card {
    width: 300px;
    height: 100px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hour-card img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

#current-traffic {
    height: 550px;
    text-align: center;
}

#traffic-map {
    height: 450px;
    text-align: center;
    cursor: pointer;
}

.modal {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5) !important;
    overflow: auto;
    display: none;
}

#open-modal {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#modal-mapbox {
    width: 810px;
    height: 640px;
    background: white;
    border-radius: 2px;
    margin: 3% auto;
}

input {
    font-size: 20px;
    background: rgba(0,0,0,.2);
    color: grey;
    border-radius: 20px;
}

input::placeholder {
    color: grey;
  }

#weather-description {
    text-transform: capitalize;
}


@media only screen and (max-width: 415px) {
    .weather-widget {
        margin: 0 0 10% 0;
        position: static;
    }

    .traffic, .weather {
        padding: 0;
    }

    h3 {
        font-size: 1em;
    }

    button {
        display: none;
    }

  }

  @media only screen and (max-width: 320px) {
    #current-icon {
        width: 50px;
    }

    h3 {
        font-size: 1em;
    }
    .weather-widget {
        position: static;
    }

    .traffic {
        padding: 0;
    }

    button {
        display: none;
    }

  }